.profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

@media screen and (max-width: 780px) {
    .profile {
        align-items: center;
        flex-direction: column;
        margin-bottom: 36px;
    }
}